<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" style="height: 4em;">
  <a class="navbar-brand" style="font-family:Pacifico;" href="/">{{title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link  font-pos-12" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link  font-pos-12" href="#">Cart</a>
        </li>

    </ul>
    
    <ul class="nav navbar-nav navbar-right">
      {{#if logged_in}}
        <li class=" nav-item dropdown">
          <a href="#" class="mt-3 snav-link d-flex justify-content-end" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="/images/avatar-default.png"  class="img-circle special-img w-25 h-100"></a>
            <p>{{user}}</p>
          </a>

          <div  class="dropdown-menu bg-dark" aria-labelledby="dropdownMenuButton">
            <a class="pos-dark-dropdown-item  dropdown-item text-white" href="#">Profile</a>
            <div class="dropdown-divider"></div>
            <a class="pos-dark-dropdown-item  dropdown-item text-white" href="/users/logout">Logout</a>
          </div>
      </li>
      {{/if}}
      {{#if not_logged_in}}
        <li class="nav-item">
          <a class="nav-link  font-pos-12" href="/users/signup">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  font-pos-12" href="/users/signin">Login</a>
        </li>
      {{/if}}
      
    </ul>
  </div>
</nav>