{{> navbar}}
{{>sidebar}}
<div id="shopping-cart-body" class="container-fluid mt-5 pt-3" style="padding-left: 250px;">
    <div class="row mt-5 ml-2 mr-2">
        <div class="bg-white col-12 font-pos-14 text-capitalize mx-2 mb-3 p-2 pl-4" style="font-weight: bold; border: 1px solid #e2dddd; color: #55585a;">
            Dashboard
        </div>
        <div class="row col-12">
            <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
                <div class="card no-radius text-white" style="background: #27ce4d;">
                    <div class="card-body font-pos-12 text-uppercase">
                        <p>Number of users</p>
                        <div class="d-flex justify-content-between">
                            <span><i class="fas fa-user"></i></span>
                            <span>19</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
                <div class="card bg-primary no-radius text-white">
                    <div class="card-body font-pos-12 text-uppercase">
                        <p>Number of Products</p>
                        <div class="d-flex justify-content-between">
                            <span><i class="fab fa-autoprefixer"></i></span>
                            <span>156</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
                <div class="card bg-dark no-radius text-white">
                    <div class="card-body font-pos-12 text-uppercase">
                        <p>Number of Orders</p>
                        <div class="d-flex justify-content-between">
                            <span><i class="far fa-credit-card"></i></span>
                            <span>1545</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
                <div class="card no-radius text-white" style="background: #7a11dd;">
                    <div class="card-body font-pos-12 text-uppercase">
                        <p>Number of Categories</p>
                        <div class="d-flex justify-content-between">
                            <span><i class="fas fa-chart-pie"></i></span>
                            <span>9</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>